.game-board {
  background: lightgreen;
}
.game-field {
    display:flex;
    flex-direction:row;
    .column {
      width: 10%;
      padding-left: 5px;
      padding-right: 5px;
    }
    img {
      width: 100%;
      height: auto;
    }
}